In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('../scripts/simulations.csv')
df = df.drop('Unnamed: 0', axis=1)

- TL: Traffic Lights prioritize ambulance's path
- GL: Normal vehicles give lane to the ambulance
- NH: ERU selects nearest hospital to send ambulance
- FR: Full Responsive - Uses all of the strategies above
- NA: None of the above

In [23]:
df.head()

,iteration,can_change_lane,can_open_traffic,can_find_nearest_hospital,number_of_vehicles,ambulance_arrival_time
0,#8,False,False,False,100,-1
1,#5,False,False,True,100,-1
2,#7,False,False,True,100,189
3,#8,False,False,True,5,177
4,#0,False,True,False,100,-1

In [24]:
def give_simulation_name(df):
    if df.can_change_lane and df.can_open_traffic and df.can_find_nearest_hospital:
        df['name'] = 'FR'
    if df.can_change_lane and not df.can_open_traffic and not df.can_find_nearest_hospital:
        df['name'] = 'GL'
    if not df.can_change_lane and df.can_open_traffic and not df.can_find_nearest_hospital:
        df['name'] = 'TL'
    if not df.can_change_lane and not df.can_open_traffic and df.can_find_nearest_hospital:
        df['name'] = 'NH'
    if not df.can_change_lane and not df.can_open_traffic and not df.can_find_nearest_hospital:
        df['name'] = 'NA'
    return df
    
df = df.apply(give_simulation_name, axis=1)
# df['name'] = give_simulation_name(df.can_change_lane, df.can_open_traffic, df.can_find_nearest_hospital)

In [25]:
df

,iteration,can_change_lane,can_open_traffic,can_find_nearest_hospital,number_of_vehicles,ambulance_arrival_time,name
0,#8,False,False,False,100,-1,NA
1,#5,False,False,True,100,-1,NA
2,#7,False,False,True,100,189,NA
3,#8,False,False,True,5,177,NA
4,#0,False,True,False,100,-1,NA
...,...,...,...,...,...,...,...
155,#8,True,True,False,100,-1,NA
156,#9,True,True,False,5,66,NA
157,#9,True,False,True,5,153,NA
158,#1,True,False,False,100,-1,NA
159,#2,False,False,False,5,60,NA