In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('../scripts/simulations.csv')
df = df.drop('Unnamed: 0', axis=1)

- TL: Traffic Lights prioritize ambulance's path
- GL: Normal vehicles give lane to the ambulance
- NH: ERU selects nearest hospital to send ambulance
- FR: Full Responsive - Uses all of the strategies above
- NA: None of the above

In [9]:
df.head()

,iteration,can_change_lane,can_open_traffic,can_find_nearest_hospital,number_of_vehicles,ambulance_arrival_time
0,#0,False,False,True,787,436
1,#9,False,False,False,225,90
2,#6,True,True,True,787,112
3,#9,True,False,False,787,77
4,#3,True,True,True,225,74

In [10]:
def give_simulation_name(df):
    if df.can_change_lane and df.can_open_traffic and df.can_find_nearest_hospital:
        df['name'] = 'FR'
    if df.can_change_lane and not df.can_open_traffic and not df.can_find_nearest_hospital:
        df['name'] = 'GL'
    if not df.can_change_lane and df.can_open_traffic and not df.can_find_nearest_hospital:
        df['name'] = 'TL'
    if not df.can_change_lane and not df.can_open_traffic and df.can_find_nearest_hospital:
        df['name'] = 'NH'
    if not df.can_change_lane and not df.can_open_traffic and not df.can_find_nearest_hospital:
        df['name'] = 'NA'
    return df
    
df = df.apply(give_simulation_name, axis=1)

## Calculate average arrival time by simulation type

In [11]:
df.groupby(['name', 'number_of_vehicles']).mean().drop(['can_change_lane', 'can_open_traffic', 'can_find_nearest_hospital', 'number_of_vehicles'], axis = 1)

KeyError: "['number_of_vehicles'] not found in axis"

## Calculate average arrival time by number of vehicles

In [12]:
df.groupby(['number_of_vehicles']).mean().drop(['can_change_lane', 'can_open_traffic', 'can_find_nearest_hospital'], axis = 1)

                    ambulance_arrival_time
number_of_vehicles
225                                 117.64
506                                 144.50
787                                 250.20

In [14]:
df.groupby(['name']).std().drop(['can_change_lane', 'can_open_traffic', 'can_find_nearest_hospital', 'number_of_vehicles'], axis = 1)

      ambulance_arrival_time
name
FR                 89.252425
GL                 86.653127
NA                101.664249
NH                107.978334
TL                 86.500708

In [15]:
df.describe()

       number_of_vehicles  ambulance_arrival_time
count           150.00000              150.000000
mean            506.00000              170.780000
std             230.20417              104.882348
min             225.00000               -1.000000
25%             225.00000               93.000000
50%             506.00000              132.000000
75%             787.00000              196.750000
max             787.00000              498.000000